body{
    border: 5px solid;
    border-color: 800000;
   
}

.about{
    text-align: center;
    font-size: 50px;
    margin-top: 8%;
    font-weight: bold;
    font-family:serif;
    margin-top: 100px;
    flex-shrink: 0;
}

.about-cont{
   
    height: auto;
    margin-bottom: -10px;

  display: flex;
  align-items: center;
}


.about-txt{
    font-size: 20px;
   
    padding: 20px;
    flex: 3;
       
   
}

.about-txt p{
  font-size: 20px;
    

}

.about-image{
  flex: 1;
     padding: 20px;
     max-width: 100%;
}

@media (max-width: 600px) {
  .about-cont {
      flex-direction: column;
  }
}
