body{
    border: 5px solid;
    border-color: 800000;
 
}

.gallery{
    text-align: center;
    font-size: 50px;
}

.gallery-container{
  display: inline-block;
  margin-left: 100px;
  margin-top: 50px;
  vertical-align: top;
   
}

.g-image1{
width: 500px;
height: 300px;
display: inline-block;
border: 1px solid;
border-radius: 0%;
border-color: #191973;
border-width: 10px;
border-bottom-color: #800000;
border-top-color: #800000;
}

.g-text1{
    font-size: 50px;
}
