body{
    border: 5px solid;
    border-color: 800000;
}

.products{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    font-weight: bold;
    font-family:serif;
    
}

.product{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
}

.product-container{
  display: inline-block;
  margin-right: 120px;
  margin-left: 50px;
  margin-top: 50px;
  vertical-align: top;
   
}

.product-image{
    width: 80px;
    height: 60px;
    display: inline-block;
   
}
    
.product-text{
        font-size: 20px;
        
}

button{
    width: auto;
    height: 50px;
    margin-top: 20px;
    background-color:#800000;
    color: black;
    text-align: center;


}
li{
    color: black;
}