body{
    border: 5px solid;
    border-color: 800000;
}

.products{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    font-weight: bold;
    font-family:serif;
    
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style for the individual image and caption */
.image-container {
    text-align: center;
    margin: 10px;
    max-width: 100px;
}

.image-container img {
    max-width: 100%;
    height: 100px;
}

.image-container figcaption {
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
}
