body{
    border: 5px solid;
    border-color: 800000;
}

.products{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    font-weight: bold;
    font-family:serif;
    
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style for the individual image and caption */
.image-container {
   /** text-align: center;
    margin: 10px;
    max-width: 100px;**/

    width: 200px;
      height: 200px;
      border: 5px solid #191973;
      margin: 10px;
      padding: 10px;
      text-align: center;
}

.image-container img {
    height: 150px;
    max-width: 100%;

}

.image-container figcaption {
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
}
